<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="icon-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="icon-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="icon-group"></i>
            </button>

            <button class="btn btn-danger">
                <i class="icon-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li >
            <a class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text" > 个人信息管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a id="selfEdit" href="/admin/edit?id=-1">
                        <i class="icon-double-angle-right"></i>
                        个人信息修改
                    </a>
                </li>
            </ul>

        </li>

        <li class="studentHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-user"></i>
                <span class="menu-text">人员管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="teacherHidden">
                    <a href="/teacher/index">
                        <i class="icon-double-angle-right"></i>
                        教师管理
                    </a>
                </li>

                <li>
                    <a href="/student/index">
                        <i class="icon-double-angle-right"></i>
                        学生管理
                    </a>
                </li>
                <li class="teacherHidden">
                    <a href="/cooperator/index">
                        <i class="icon-double-angle-right"></i>
                        合作者管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="teacherHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-instagram"></i>
                <span class="menu-text"> 新闻管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/news/index">
                        <i class="icon-double-angle-right"></i>
                        新闻列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="teacherHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-building"></i>
                <span class="menu-text"> 合作单位管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/company/index">
                        <i class="icon-double-angle-right"></i>
                        合作单位列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="teacherHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-search"></i>
                <span class="menu-text"> 研究方向管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/researcharea/index">
                        <i class="icon-double-angle-right"></i>
                        研究方向列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-file"></i>
                <span class="menu-text"> 论文管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/paper/index">
                        <i class="icon-double-angle-right"></i>
                        论文列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> 项目管理</span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/project/index">
                        <i class="icon-double-angle-right"></i>
                        项目列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="studentHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-lightbulb"></i>
                <span class="menu-text"> 课程管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/course/index">
                        <i class="icon-double-angle-right"></i>
                        课程列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="studentHidden">
            <a href="#" class="dropdown-toggle">
                <i class="icon-book"></i>
                <span class="menu-text"> 著作管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/book/index">
                        <i class="icon-double-angle-right"></i>
                        著作列表
                    </a>
                </li>
            </ul>
        </li>



    </ul>

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>
