<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Book">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bookname" jdbcType="VARCHAR" property="bookname" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="babstract" jdbcType="VARCHAR" property="babstract" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, bookname, classification, babstract, press, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.Book">
    insert into book (bid, bookname, classification, 
      babstract, press, time
      )
    values (#{bid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, 
      #{babstract,jdbcType=VARCHAR}, #{press,jdbcType=VARCHAR}, #{time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bookname != null">
        bookname,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="babstract != null">
        babstract,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="babstract != null">
        #{babstract,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Book">
    update book
    <set>
      <if test="bookname != null">
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="babstract != null">
        babstract = #{babstract,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Book">
    update book
    set bookname = #{bookname,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      babstract = #{babstract,jdbcType=VARCHAR},
      press = #{press,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="zxl.web.domain.Book">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bookname" jdbcType="VARCHAR" property="bookname" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="babstract" jdbcType="VARCHAR" property="babstract" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, bookname, classification, babstract, press, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.Book">
    insert into book (bid, bookname, classification, 
      babstract, press, time
      )
    values (#{bid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, 
      #{babstract,jdbcType=VARCHAR}, #{press,jdbcType=VARCHAR}, #{time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bookname != null">
        bookname,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="babstract != null">
        babstract,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="babstract != null">
        #{babstract,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Book">
    update book
    <set>
      <if test="bookname != null">
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="babstract != null">
        babstract = #{babstract,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Book">
    update book
    set bookname = #{bookname,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      babstract = #{babstract,jdbcType=VARCHAR},
      press = #{press,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>