<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Company">
    <id column="coid" jdbcType="INTEGER" property="coid" />
    <result column="coname" jdbcType="VARCHAR" property="coname" />
    <result column="cotype" jdbcType="INTEGER" property="cotype" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
  </resultMap>
  <sql id="Base_Column_List">
    coid, coname, cotype, logourl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where coid = #{coid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where coid = #{coid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.Company">
    insert into company (coid, coname, cotype, 
      logourl)
    values (#{coid,jdbcType=INTEGER}, #{coname,jdbcType=VARCHAR}, #{cotype,jdbcType=INTEGER}, 
      #{logourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        coid,
      </if>
      <if test="coname != null">
        coname,
      </if>
      <if test="cotype != null">
        cotype,
      </if>
      <if test="logourl != null">
        logourl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="coname != null">
        #{coname,jdbcType=VARCHAR},
      </if>
      <if test="cotype != null">
        #{cotype,jdbcType=INTEGER},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Company">
    update company
    <set>
      <if test="coname != null">
        coname = #{coname,jdbcType=VARCHAR},
      </if>
      <if test="cotype != null">
        cotype = #{cotype,jdbcType=INTEGER},
      </if>
      <if test="logourl != null">
        logourl = #{logourl,jdbcType=VARCHAR},
      </if>
    </set>
    where coid = #{coid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Company">
    update company
    set coname = #{coname,jdbcType=VARCHAR},
      cotype = #{cotype,jdbcType=INTEGER},
      logourl = #{logourl,jdbcType=VARCHAR}
    where coid = #{coid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="zxl.web.domain.Company">
    <id column="coid" jdbcType="INTEGER" property="coid" />
    <result column="coname" jdbcType="VARCHAR" property="coname" />
    <result column="cotype" jdbcType="INTEGER" property="cotype" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
  </resultMap>
  <sql id="Base_Column_List">
    coid, coname, cotype, logourl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where coid = #{coid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where coid = #{coid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.Company">
    insert into company (coid, coname, cotype, 
      logourl)
    values (#{coid,jdbcType=INTEGER}, #{coname,jdbcType=VARCHAR}, #{cotype,jdbcType=INTEGER}, 
      #{logourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        coid,
      </if>
      <if test="coname != null">
        coname,
      </if>
      <if test="cotype != null">
        cotype,
      </if>
      <if test="logourl != null">
        logourl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="coname != null">
        #{coname,jdbcType=VARCHAR},
      </if>
      <if test="cotype != null">
        #{cotype,jdbcType=INTEGER},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Company">
    update company
    <set>
      <if test="coname != null">
        coname = #{coname,jdbcType=VARCHAR},
      </if>
      <if test="cotype != null">
        cotype = #{cotype,jdbcType=INTEGER},
      </if>
      <if test="logourl != null">
        logourl = #{logourl,jdbcType=VARCHAR},
      </if>
    </set>
    where coid = #{coid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Company">
    update company
    set coname = #{coname,jdbcType=VARCHAR},
      cotype = #{cotype,jdbcType=INTEGER},
      logourl = #{logourl,jdbcType=VARCHAR}
    where coid = #{coid,jdbcType=INTEGER}
  </update>
</mapper>