<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.CooperatorMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Cooperator">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="coid" jdbcType="INTEGER" property="coid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cduty" jdbcType="VARCHAR" property="cduty" />

    <association property="user" javaType="User">
      <id column="id" property="id"/>
      <id column="tid" property="tid"/>
      <id column="cid" property="cid"/>
      <id column="sid" property="sid"/>
      <id column="username" property="username"/>
      <id column="pwd" property="pwd"/>
      <id column="sex" property="sex"/>
      <id column="imgurl" property="imgurl"/>
      <id column="isadmin" property="isadmin"/>
      <id column="usertype" property="usertype"/>
      <id column="birthday" property="birthday"/>
    </association>

    <association property="company" javaType="Company">
      <id column="coid" property="coid"/>
      <id column="coname" property="coname"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    cid, coid, id, title, cduty
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cooperator
    where cid = #{cid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cooperator
    where cid = #{cid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="zxl.web.domain.Cooperator">
    insert into cooperator (cid, coid, id, 
      title, cduty)
    values (#{cid,jdbcType=INTEGER}, #{coid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{cduty,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="zxl.web.domain.Cooperator">
    insert into cooperator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="coid != null">
        coid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cduty != null">
        cduty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cduty != null">
        #{cduty,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Cooperator">
    update cooperator
    <set>
      <if test="coid != null">
        coid = #{coid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cduty != null">
        cduty = #{cduty,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Cooperator">
    update cooperator
    set coid = #{coid,jdbcType=INTEGER},
      id = #{id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      cduty = #{cduty,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>

  <!--返回全部合作者-->
  <select id="queryAll" resultMap="BaseResultMap">
    select * from cooperator c,user u, company co where c.id=u.id and c.coid=co.coid
  </select>
</mapper>