<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Project">
    <id column="proid" jdbcType="INTEGER" property="proid" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="prorank" jdbcType="INTEGER" property="prorank" />
    <result column="protype" jdbcType="INTEGER" property="protype" />
    <result column="funding" jdbcType="VARCHAR" property="funding" />
    <result column="proname" jdbcType="VARCHAR" property="proname" />
    <result column="proabstract" jdbcType="VARCHAR" property="proabstract" />
    <result column="prosource" jdbcType="VARCHAR" property="prosource" />
  </resultMap>
  <sql id="Base_Column_List">
    proid, number, prorank, protype, funding, proname, proabstract, prosource
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where proid = #{proid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where proid = #{proid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.Project">
    insert into project (proid, number, prorank, 
      protype, funding, proname, 
      proabstract, prosource)
    values (#{proid,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{prorank,jdbcType=INTEGER}, 
      #{protype,jdbcType=INTEGER}, #{funding,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR}, 
      #{proabstract,jdbcType=VARCHAR}, #{prosource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proid != null">
        proid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="prorank != null">
        prorank,
      </if>
      <if test="protype != null">
        protype,
      </if>
      <if test="funding != null">
        funding,
      </if>
      <if test="proname != null">
        proname,
      </if>
      <if test="proabstract != null">
        proabstract,
      </if>
      <if test="prosource != null">
        prosource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proid != null">
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="prorank != null">
        #{prorank,jdbcType=INTEGER},
      </if>
      <if test="protype != null">
        #{protype,jdbcType=INTEGER},
      </if>
      <if test="funding != null">
        #{funding,jdbcType=VARCHAR},
      </if>
      <if test="proname != null">
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proabstract != null">
        #{proabstract,jdbcType=VARCHAR},
      </if>
      <if test="prosource != null">
        #{prosource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Project">
    update project
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="prorank != null">
        prorank = #{prorank,jdbcType=INTEGER},
      </if>
      <if test="protype != null">
        protype = #{protype,jdbcType=INTEGER},
      </if>
      <if test="funding != null">
        funding = #{funding,jdbcType=VARCHAR},
      </if>
      <if test="proname != null">
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proabstract != null">
        proabstract = #{proabstract,jdbcType=VARCHAR},
      </if>
      <if test="prosource != null">
        prosource = #{prosource,jdbcType=VARCHAR},
      </if>
    </set>
    where proid = #{proid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Project">
    update project
    set number = #{number,jdbcType=VARCHAR},
      prorank = #{prorank,jdbcType=INTEGER},
      protype = #{protype,jdbcType=INTEGER},
      funding = #{funding,jdbcType=VARCHAR},
      proname = #{proname,jdbcType=VARCHAR},
      proabstract = #{proabstract,jdbcType=VARCHAR},
      prosource = #{prosource,jdbcType=VARCHAR}
    where proid = #{proid,jdbcType=INTEGER}
  </update>

  <select id="queryAll" resultMap="BaseResultMap">
    select * from project
  </select>

  <select id="selectProid" parameterType="Project" resultType="integer">
    select proid FROM project where
    <if test="number != null">
      number = #{number,jdbcType=VARCHAR} and
    </if>
    <if test="prorank != null">
      prorank = #{prorank,jdbcType=INTEGER} and
    </if>
    <if test="protype != null">
      protype = #{protype,jdbcType=INTEGER} and
    </if>
    <if test="funding != null">
      funding = #{funding,jdbcType=VARCHAR} and
    </if>
    <if test="proname != null">
      proname = #{proname,jdbcType=VARCHAR} and
    </if>
    <if test="proabstract != null">
      proabstract = #{proabstract,jdbcType=VARCHAR} and
    </if>
    <if test="prosource != null">
      prosource = #{prosource,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>