<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.ResearchareaMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Researcharea">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="imgurl1" jdbcType="VARCHAR" property="imgurl1" />
    <result column="imgurl2" jdbcType="VARCHAR" property="imgurl2" />
    <result column="imgurl3" jdbcType="VARCHAR" property="imgurl3" />
  </resultMap>

  <sql id="Base_Column_List">
    rid, rname, intro, imgurl1, imgurl2, imgurl3
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from researcharea
    where rid = #{rid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from researcharea
    where rid = #{rid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="zxl.web.domain.Researcharea">
    insert into researcharea (rid, rname, intro, imgurl1, imgurl2, imgurl3
      )
    values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR},
            #{imgurl1,jdbcType=VARCHAR}, #{imgurl2,jdbcType=VARCHAR}, #{imgurl3,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="zxl.web.domain.Researcharea">
    insert into researcharea
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="imgurl1 != null">
        imgurl1,
      </if>
      <if test="imgurl2 != null">
        imgurl2,
      </if>
      <if test="imgurl3 != null">
        imgurl3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="imgurl1 != null">
        #{imgurl1,jdbcType=VARCHAR},
      </if>
      <if test="imgurl2 != null">
        #{imgurl2,jdbcType=VARCHAR},
      </if>
      <if test="imgurl3 != null">
        #{imgurl3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Researcharea">
    update researcharea
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="imgurl1 != null">
        imgurl1 = #{imgurl1,jdbcType=VARCHAR},
      </if>
      <if test="imgurl2 != null">
        imgurl2 = #{imgurl2,jdbcType=VARCHAR},
      </if>
      <if test="imgurl3 != null">
        imgurl3 = #{imgurl3,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Researcharea">
    update researcharea
    set rname = #{rname,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      imgurl1 = #{imgurl1,jdbcType=VARCHAR},
      imgurl2 = #{imgurl2,jdbcType=VARCHAR},
      imgurl3 = #{imgurl3,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <select id="queryAll" resultMap="BaseResultMap">
    select * from researcharea where type=0
  </select>

  <select id="queryinfo" resultMap="BaseResultMap">
    select * from researcharea where type=1
  </select>
</mapper>