<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.StudentsMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.Students">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="srank" jdbcType="INTEGER" property="srank" />
    <result column="smail" jdbcType="VARCHAR" property="smail" />
    <result column="wheretogo" jdbcType="VARCHAR" property="wheretogo" />
    <result column="entertime" jdbcType="DATE" property="entertime" />
    <result column="stueduexp" jdbcType="VARCHAR" property="stueduexp" />
    <result column="college" jdbcType="VARCHAR" property="college" />

    <association property="user" javaType="User">
      <id column="id" property="id"/>
      <id column="tid" property="tid"/>
      <id column="cid" property="cid"/>
      <id column="sid" property="sid"/>
      <id column="username" property="username"/>
      <id column="pwd" property="pwd"/>
      <id column="sex" property="sex"/>
      <id column="imgurl" property="imgurl"/>
      <id column="isadmin" property="isadmin"/>
      <id column="usertype" property="usertype"/>
      <id column="birthday" property="birthday"/>
      <id column="realname" property="realname"/>
      <id column="engname" property="engname"/>
    </association>

  </resultMap>
  <sql id="Base_Column_List">
    sid, id, srank, smail, wheretogo, entertime, stueduexp,college
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where sid = #{sid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where sid = #{sid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="zxl.web.domain.Students">
    insert into student (sid, id, srank, 
      smail, wheretogo, entertime, 
      stueduexp,college)
    values (#{sid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{srank,jdbcType=INTEGER}, 
      #{smail,jdbcType=VARCHAR}, #{wheretogo,jdbcType=VARCHAR}, #{entertime,jdbcType=DATE}, 
      #{stueduexp,jdbcType=VARCHAR},#{college,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="zxl.web.domain.Students">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="srank != null">
        srank,
      </if>
      <if test="smail != null">
        smail,
      </if>
      <if test="wheretogo != null">
        wheretogo,
      </if>
      <if test="entertime != null">
        entertime,
      </if>
      <if test="stueduexp != null">
        stueduexp,
      </if>
      <if test="college != null">
        college,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="srank != null">
        #{srank,jdbcType=INTEGER},
      </if>
      <if test="smail != null">
        #{smail,jdbcType=VARCHAR},
      </if>
      <if test="wheretogo != null">
        #{wheretogo,jdbcType=VARCHAR},
      </if>
      <if test="entertime != null">
        #{entertime,jdbcType=DATE},
      </if>
      <if test="stueduexp != null">
        #{stueduexp,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.Students">
    update student
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="srank != null">
        srank = #{srank,jdbcType=INTEGER},
      </if>
      <if test="smail != null">
        smail = #{smail,jdbcType=VARCHAR},
      </if>
      <if test="wheretogo != null">
        wheretogo = #{wheretogo,jdbcType=VARCHAR},
      </if>
      <if test="entertime != null">
        entertime = #{entertime,jdbcType=DATE},
      </if>
      <if test="stueduexp != null">
        stueduexp = #{stueduexp,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.Students">
    update student
    set id = #{id,jdbcType=INTEGER},
      srank = #{srank,jdbcType=INTEGER},
      smail = #{smail,jdbcType=VARCHAR},
      wheretogo = #{wheretogo,jdbcType=VARCHAR},
      entertime = #{entertime,jdbcType=DATE},
      stueduexp = #{stueduexp,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>

  <!--返回全部学生-->
  <select id="queryAll" resultMap="BaseResultMap">
    select * from student s,user u where s.id=u.id
  </select>

  <select id="selectStudentById" parameterType="Integer" resultMap="BaseResultMap">
    select * from student s, user u where s.id=#{id} and u.id=#{id}
  </select>
</mapper>