<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.UserPaperMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.UserPaper">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="papernumber" jdbcType="VARCHAR" property="papernumber" />
    <result column="authornumber" jdbcType="INTEGER" property="authornumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, papernumber, authornumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="zxl.web.domain.UserPaperKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userpaper
    where id = #{id,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="zxl.web.domain.UserPaperKey">
    delete from userpaper
    where id = #{id,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="zxl.web.domain.UserPaper">
    insert into userpaper (id, pid, papernumber, 
      authornumber)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{papernumber,jdbcType=VARCHAR}, 
      #{authornumber,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="zxl.web.domain.UserPaper">
    insert into userpaper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="papernumber != null">
        papernumber,
      </if>
      <if test="authornumber != null">
        authornumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="papernumber != null">
        #{papernumber,jdbcType=VARCHAR},
      </if>
      <if test="authornumber != null">
        #{authornumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.UserPaper">
    update userpaper
    <set>
      <if test="papernumber != null">
        papernumber = #{papernumber,jdbcType=VARCHAR},
      </if>
      <if test="authornumber != null">
        authornumber = #{authornumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.UserPaper">
    update userpaper
    set papernumber = #{papernumber,jdbcType=VARCHAR},
      authornumber = #{authornumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=INTEGER}
  </update>

  <select id="selectUPps" parameterType="integer" resultMap="BaseResultMap">
    select * from userpaper where pid=#{pid}
  </select>

  <select id="selectUPpsById" parameterType="integer" resultMap="BaseResultMap">
    select * from userpaper where id=#{id}
  </select>

</mapper>