<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="isadmin" jdbcType="BIT" property="isadmin" />
    <result column="usertype" jdbcType="INTEGER" property="usertype" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tid, cid, sid, username, pwd, sex, imgurl, isadmin, usertype, birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.User">
    insert into user (id, tid, cid, 
      sid, username, pwd, 
      sex, imgurl, isadmin, usertype, 
      birthday)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{sid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}, #{isadmin,jdbcType=BIT}, #{usertype,jdbcType=INTEGER}, 
      #{birthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="isadmin != null">
        isadmin,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=BIT},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.User">
    update user
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        isadmin = #{isadmin,jdbcType=BIT},
      </if>
      <if test="usertype != null">
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.User">
    update user
    set tid = #{tid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      isadmin = #{isadmin,jdbcType=BIT},
      usertype = #{usertype,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--注册方法-->
  <insert id="register" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into user(username,pwd,sex,isadmin,usertype,birthday) values(#{username},#{pwd},#{sex},#{isadmin},#{usertype},#{birthday});
  </insert>

  <!--登陆方法-->
  <select id="login" parameterType="User" resultType="User" >
    select id,tid,cid,sid,username,pwd,sex,imgurl,isadmin,usertype,birthday from user where username=#{username} and pwd=#{pwd}
  </select>

  <!--返回所有教师用户-->
  <select id="queryAllTeacher" resultMap="BaseResultMap">
    select * from user where usertype=0;
  </select>

  <!--返回全部用户-->
  <select id="queryAll" resultMap="BaseResultMap">
    select * from user;
  </select>
</mapper>