<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.UserProMapper">

  <resultMap id="BaseResultMap" type="zxl.web.domain.UserPro">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="proid" jdbcType="INTEGER" property="proid" />
    <result column="pronumber" jdbcType="VARCHAR" property="pronumber" />
    <result column="isleader" jdbcType="BIT" property="isleader" />
  </resultMap>
  <sql id="Base_Column_List">
    id, proid, pronumber, isleader
  </sql>

  <select id="selectByPrimaryKey" parameterType="zxl.web.domain.UserProKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userpro
    where id = #{id,jdbcType=INTEGER}
      and proid = #{proid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="zxl.web.domain.UserProKey">
    delete from userpro
    where id = #{id,jdbcType=INTEGER}
      and proid = #{proid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="zxl.web.domain.UserPro">
    insert into userpro (id, proid, pronumber, 
      isleader)
    values (#{id,jdbcType=INTEGER}, #{proid,jdbcType=INTEGER}, #{pronumber,jdbcType=VARCHAR}, 
      #{isleader,jdbcType=BIT})
  </insert>

  <insert id="insertSelective" parameterType="zxl.web.domain.UserPro">
    insert into userpro
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="proid != null">
        proid,
      </if>
      <if test="pronumber != null">
        pronumber,
      </if>
      <if test="isleader != null">
        isleader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proid != null">
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="pronumber != null">
        #{pronumber,jdbcType=VARCHAR},
      </if>
      <if test="isleader != null">
        #{isleader,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.UserPro">
    update userpro
    <set>
      <if test="pronumber != null">
        pronumber = #{pronumber,jdbcType=VARCHAR},
      </if>
      <if test="isleader != null">
        isleader = #{isleader,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and proid = #{proid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.UserPro">
    update userpro
    set pronumber = #{pronumber,jdbcType=VARCHAR},
      isleader = #{isleader,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
      and proid = #{proid,jdbcType=INTEGER}
  </update>

  <select id="selectUPs" parameterType="integer" resultMap="BaseResultMap">
    select * from userpro where proid=#{proid}
  </select>
  <select id="selectUPsById" parameterType="integer" resultMap="BaseResultMap">
    select * from userpro where id=#{id}
  </select>
</mapper>