<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxl.web.mapper.UserBookMapper">
  <resultMap id="BaseResultMap" type="zxl.web.domain.UserBook">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="booknumber" jdbcType="VARCHAR" property="booknumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, booknumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="zxl.web.domain.UserBookKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userbook
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="zxl.web.domain.UserBookKey">
    delete from userbook
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.UserBook">
    insert into userbook (id, bid, booknumber
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER}, #{booknumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.UserBook">
    insert into userbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="booknumber != null">
        booknumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="booknumber != null">
        #{booknumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.UserBook">
    update userbook
    <set>
      <if test="booknumber != null">
        booknumber = #{booknumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.UserBook">
    update userbook
    set booknumber = #{booknumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="zxl.web.domain.UserBook">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="booknumber" jdbcType="VARCHAR" property="booknumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bid, booknumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="zxl.web.domain.UserBookKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userbook
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="zxl.web.domain.UserBookKey">
    delete from userbook
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zxl.web.domain.UserBook">
    insert into userbook (id, bid, booknumber
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER}, #{booknumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zxl.web.domain.UserBook">
    insert into userbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="booknumber != null">
        booknumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="booknumber != null">
        #{booknumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zxl.web.domain.UserBook">
    update userbook
    <set>
      <if test="booknumber != null">
        booknumber = #{booknumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zxl.web.domain.UserBook">
    update userbook
    set booknumber = #{booknumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>